#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #61dafbaa;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.check {
  text-decoration: line-through;
}

.tasks {
  display: grid;
  gap: 5px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  gap: 5px;
}

.btn-task {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #61dafbaa;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
}

.search {
  border-radius: 15px;
  border: 1px solid #61dafbaa;
  padding: 10px;
  width: 50%;
  margin-right: 10px;
}

.search-btn {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #61dafbaa;
}

.form-login {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
max-width: 100%;
}

.form-input {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #61dafbaa;
  padding: 10px;
  flex: 1;
}

.form-registr {
display: flex;
align-items: center;
gap: 10px;
}

.form-registr label {
width: 60px;
text-align: right;

}
